# Kafka
bootstrap.servers=pkc-419q3.us-east4.gcp.confluent.cloud:9092
security.protocol=SASL_SSL
sasl.mechanisms=PLAIN
sasl.username=XBX7UQDIFX7ANHOO
sasl.password=AQovO5n0tEDUgquEJjXkbvuDkeBBCopJu1oMzXdZGCVsPGkgZCXmjWJGNf/+0DKr

# Best practice for higher availability in librdkafka clients prior to 1.7
session.timeout.ms=45000

# Confluent Cloud Schema Registry
schema.registry.url=https://psrc-knmx2.australia-southeast1.gcp.confluent.cloud
basic.auth.credentials.source=USER_INFO
basic.auth.user.info={{ SR_API_KEY }}:{{ SR_API_SECRET }}
